
apiVersion: apps/v1
kind: Deployment
metadata:
  name: profile
spec:
  replicas: 4
  selector:
    matchLabels:
      app: profile
  template:
    metadata:
      labels:
        app: profile
    spec:
      containers:
      - image: chasemoskal/profile-server:latest
        imagePullPolicy: IfNotPresent
        name: profile
        ports:
        - containerPort: 8001
        volumeMounts:
        - name: profile-config-volume
          mountPath: /app/config
          readOnly: true
      volumes:
      - name: profile-config-volume
        secret:
          secretName: profile-config

---

apiVersion: v1
kind: Service
metadata:
  name: profile
spec:
  selector:
    app: profile
  ports:
  - name: profile
    protocol: TCP
    port: 8001
    targetPort: 8001
